@model Project
@{
    ViewData["Title"] = "Proje Güncelle";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<form method="post">

    <input type="hidden" asp-for="ProjectId" />
    <div class="form-group">
        <label>Proje Görsel Url</label>
        <input type="text" class="form-control" asp-for="ImageUrl" />
        <span class="text-danger" asp></span>
    </div>

    <div class="form-group">
        <label>Proje Adı</label>
        <input type="text" class="form-control" asp-for="ProjectName" />
    </div>

    <div class="form-group">
        <label>Proje Açıklaması</label>
        <input type="text" class="form-control" asp-for="Description" />
    </div>

    <div class="form-group">
        <label>Github Url</label>
        <input type="text" class="form-control" asp-for="GithubUrl" />
    </div>

    <div class="form-group">
        <label>Kategori</label>
        <select class="form-control" asp-for="CategoryId" asp-items="@ViewBag.categories">
            <option disabled>Kategori Seçiniz</option>
        </select>
    </div>
    <button class="btn btn-outline-primary">Güncelle</button>


</form>


