@model LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<!-- [Head] start -->

<head>
    <title>MyPortfolio | Giriş Sayfası </title>
    <!-- [Meta] -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Mantis is made using Bootstrap 5 design framework. Download the free admin template & use it for your project.">
    <meta name="keywords" content="Mantis, Dashboard UI Kit, Bootstrap 5, Admin Template, Admin Dashboard, CRM, CMS, Bootstrap Admin Template">
    <meta name="author" content="CodedThemes">

    <!-- [Favicon] icon -->
    <link rel="icon" href="~/Mantis-Bootstrap-1.0.0/dist/assets/images/favicon.svg" type="image/x-icon"> <!-- [Google Font] Family -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700&display=swap" id="main-font-link">
    <!-- [Tabler Icons] https://tablericons.com -->
    <link rel="stylesheet" href="~/Mantis-Bootstrap-1.0.0/dist/assets/fonts/tabler-icons.min.css">
    <!-- [Feather Icons] https://feathericons.com -->
    <link rel="stylesheet" href="~/Mantis-Bootstrap-1.0.0/dist/assets/fonts/feather.css">
    <!-- [Font Awesome Icons] https://fontawesome.com/icons -->
    <link rel="stylesheet" href="~/Mantis-Bootstrap-1.0.0/dist/assets/fonts/fontawesome.css">
    <!-- [Material Icons] https://fonts.google.com/icons -->
    <link rel="stylesheet" href="~/Mantis-Bootstrap-1.0.0/dist/assets/fonts/material.css">
    <!-- [Template CSS Files] -->
    <link rel="stylesheet" href="~/Mantis-Bootstrap-1.0.0/dist/assets/css/style.css" id="main-style-link">
    <link rel="stylesheet" href="~/Mantis-Bootstrap-1.0.0/dist/assets/css/style-preset.css">

</head>
<!-- [Head] end -->
<!-- [Body] Start -->

<body>
    <!-- [ Pre-loader ] start -->
    <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>
    <!-- [ Pre-loader ] End -->

    <div class="auth-main">
        <div class="auth-wrapper v3">
            <div class="auth-form">
                <div class="auth-header">
                    <a href="#"><img src="~/Mantis-Bootstrap-1.0.0/dist/assets/images/logo-dark.svg" alt="img"></a>
                </div>
                <form method="post">
                    <div class="card my-5">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-end mb-4">
                                <h3 class="mb-0"><b>Giriş Yapın</b></h3>
                            </div>

                            <div class="form-group mb-3">
                                <label class="form-label">Kullanıcı Adı</label>
                                <input type="text" asp-for="UserName" class="form-control" placeholder="Kullanıcı Adınız">
                            </div>
                            <div class="form-group mb-3">
                                <label class="form-label">Şifre</label>
                                <input type="password" asp-for="Password" class="form-control" placeholder="Şifreniz">
                            </div>
                            <div class="d-flex mt-1 justify-content-between">
                                <p>
                                    <span class="text-danger">@Html.ValidationSummary()</span>
                                </p>
                            </div>
                            <div class="d-grid mt-4">
                                <button type="submit" class="btn btn-primary">Giriş Yap</button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="auth-footer row">
                    <!-- <div class=""> -->
                    <div class="col my-1">
                        <p class="m-0">Copyright © <a href="#">Codedthemes</a></p>
                    </div>
                    <div class="col-auto my-1">
                        <ul class="list-inline footer-link mb-0">
                            <li class="list-inline-item"><a href="#">Home</a></li>
                            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                            <li class="list-inline-item"><a href="#">Contact us</a></li>
                        </ul>
                    </div>
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->
    <!-- Required Js -->
    <script src="~/Mantis-Bootstrap-1.0.0/dist/assets/js/plugins/popper.min.js"></script>
    <script src="~/Mantis-Bootstrap-1.0.0/dist/assets/js/plugins/simplebar.min.js"></script>
    <script src="~/Mantis-Bootstrap-1.0.0/dist/assets/js/plugins/bootstrap.min.js"></script>
    <script src="~/Mantis-Bootstrap-1.0.0/dist/assets/js/fonts/custom-font.js"></script>
    <script src="~/Mantis-Bootstrap-1.0.0/dist/assets/js/pcoded.js"></script>
    <script src="~/Mantis-Bootstrap-1.0.0/dist/assets/js/plugins/feather.min.js"></script>





    <script>layout_change('light');</script>




    <script>change_box_container('false');</script>



    <script>layout_rtl_change('false');</script>


    <script>preset_change("preset-1");</script>


    <script>font_change("Public-Sans");</script>



</body>
<!-- [Body] end -->

</html>