
@*
    Default Testimonials Component
*@
<section id="testimonials" class="testimonials section">

   
        <div class="container section-title" data-aos="fade-up">
            <h2>Referanslarım</h2>
            <p>Referanslarımın benim hakkımda yorumlarına aşağıdan erişebilirsiniz.</p>
        </div>
    
        <!-- End Section Title -->

        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="swiper init-swiper">
                <script type="application/json" class="swiper-config">
                    {
                      "loop": true,
                      "speed": 600,
                      "autoplay": {
                        "delay": 5000
                      },
                      "slidesPerView": "auto",
                      "pagination": {
                        "el": ".swiper-pagination",
                        "type": "bullets",
                        "clickable": true
                      }
                    
                </script>
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="~/Kelly-3.0.0/assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                            <h3></h3>
                            <h4>Ceo &amp; Founder</h4>
                            <div class="stars">
                                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                            </div>
                            <p>
                                <i class="bi bi-quote quote-icon-left"></i>
                                <span>"Çalışmalarında her zaman disiplinli ve planlıdır. Birlikte görev aldığımız projelerde sorumluluklarını eksiksiz yerine getirdi."</span>
                                <i class="bi bi-quote quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="~/Kelly-3.0.0/assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                            <h3>Elif Kaya</h3>
                            <h4>Tasarımcı</h4>
                            <div class="stars">
                                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                            </div>
                            <p>
                                <i class="bi bi-quote quote-icon-left"></i>
                                <span>"Yeniliklere açık ve öğrenmeye istekli bir kişidir. Zor görünen konuları bile kısa sürede kavrayıp çözüme ulaştırır."</span>
                                <i class="bi bi-quote quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="~/Kelly-3.0.0/assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                            <h3>Zeynep Arslan</h3>
                            <h4>Esnaf</h4>
                            <div class="stars">
                                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                            </div>
                            <p>
                                <i class="bi bi-quote quote-icon-left"></i>
                                <span>"Takım içinde iletişimi güçlü, herkesle uyumlu çalışabilen biridir. Onunla çalışmak projelerin daha verimli ilerlemesini sağladı."</span>
                                <i class="bi bi-quote quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="~/Kelly-3.0.0/assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                            <h3>Mehmet Zorlu</h3>
                            <h4>Gayrimenkul Danışmanı</h4>
                            <div class="stars">
                                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                            </div>
                            <p>
                                <i class="bi bi-quote quote-icon-left"></i>
                                <span>"Detaylara verdiği önem sayesinde hatasız işler çıkarmaktadır. Güvenilirliği ve iş ahlakı ile her zaman örnek olmuştur."</span>
                                <i class="bi bi-quote quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="~/Kelly-3.0.0/assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                            <h3>Murat Cengiz</h3>
                            <h4>CFO</h4>
                            <div class="stars">
                                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                            </div>
                            <p>
                                <i class="bi bi-quote quote-icon-left"></i>
                                <span> "Problem çözme yeteneği çok yüksek ve hızlı karar alabiliyor. İş ortamında her zaman pozitif bir enerji yayıyor."</span>
                                <i class="bi bi-quote quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>

    }

</section>
