
@*
    Admin Layout Footer
*@
<footer class="pc-footer">
    <div class="footer-wrapper container-fluid">
        <div class="row">
            <div class="col-sm my-1">
            </div>
            <div class="col-auto my-1">
                <ul class="list-inline footer-link mb-0">
              
                </ul>
            </div>
        </div>
    </div>
</footer>
