@model List<Banner>
@{
    ViewData["Title"] = "Banner Ekle";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
    int count = 0;
}

<table class="table table-bordered table-hover">
    <tr>
        <th>#</th>
        <th>Resim</th>
        <th>Ad ve Soyad</th>
        <th>Ünvan</th>
        <th>İşlemler</th>
    </tr>

    @foreach (var item in Model)
    {
        count++;
        <tr>
            <th>@count</th>
            <td><img src="@item.CoverImageUrl" style="height:75px;width:75px" /></td>
            <td>@item.NameSurname</td>
            <td>@item.Title</td>
            <td>
                <a href="/Banner/DeleteBanner/@item.BannerId" class="btn btn-outline-danger">Sil</a>
                <a href="/Banner/UpdateBanner/@item.BannerId" class="btn btn-outline-info">Güncelle</a>
            </td>
        </tr>
    }

</table>

<a href="/Banner/CreateBanner/" class="btn btn-outline-primary">Banner Ekle</a>