﻿
@*
    Default Stats Section
*@

<section id="stats" class="stats section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>İstatistikler</h2>
        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

            <div class="col-lg-3 col-md-6">
                <div class="stats-item text-center w-100 h-100">
                    <span data-purecounter-start="0" data-purecounter-end="@ViewBag.testimonialCount" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Referanslarım</p>
                </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-md-6">
                <div class="stats-item text-center w-100 h-100">
                    <span data-purecounter-start="0" data-purecounter-end="@ViewBag.projectCount" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Projelerim</p>
                </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-md-6">
                <div class="stats-item text-center w-100 h-100">
                    <span data-purecounter-start="0" data-purecounter-end="@ViewBag.skillCount" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Yeteneklerim</p>
                </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-md-6">
                <div class="stats-item text-center w-100 h-100">
                    <span data-purecounter-start="0" data-purecounter-end="@ViewBag.educationCount" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Eğitim</p>
                </div>
            </div><!-- End Stats Item -->

        </div>

    </div>

</section>