@model List<Banner>
@*
    Default Hero Section
*@

<section id="hero" class="hero section">
    @foreach (var item in Model)
    {
        <img src="@item.CoverImageUrl" alt="" data-aos="fade-in">

        <div class="container text-center" data-aos="zoom-out" data-aos-delay="100">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <h2>@item.NameSurname</h2>
                    <p>@item.Title</p>
                   
                </div>
            </div>
        </div>
    }

</section>