@*
    Admin Layout Main Component
*@


<!-- [ breadcrumb ] start -->
<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                    <h3 class="m-b-10">@ViewData["Title"]</h3>
                </div>
                <br />
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Ana Sayfa</a></li>
                    <li class="breadcrumb-item"><a href="#">@ViewData["Title"]</a></li>

                </ul>
            </div>
        </div>
    </div>
</div>