@model Category
@{
    ViewData["Title"] = "Yeni Kategori Oluştur";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<form method="post">
    <div class="form-group">
        <label>Kategori Adı</label>
        <input type="text" class="form-control" asp-for="CategoryName" />
    </div>

    <button class="btn btn-outline-primary">Kaydet</button>
</form>

