@model Category
@{
    ViewData["Title"] = "Kategori Güncelle";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<form method="post">
    <input type="hidden" asp-for="CategoryId" />
    <div class="form-group">
        <label>Kategori Adı</label>
        <input type="text" class="form-control" asp-for="CategoryName" />
    </div>

    <button class="btn btn-outline-primary">Güncelle</button>
</form>

